.feature-card111-feature-card {
  width: 557px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.feature-card111-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card111-text {
  font-weight: 600;
  line-height: 28px;
}

@media(max-width: 767px) {
  .feature-card111-feature-card {
    flex-direction: row;
  }
  .feature-card111-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card111-container {
    flex-direction: column;
  }
}

.contact-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-us-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.contact-us-navbar-interactive {
  height: 99px;
}
.contact-us-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact-us-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-us-nav12 {
  transition: 0.3s;
}
.contact-us-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.contact-us-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.contact-us-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.contact-us-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.contact-us-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-login {
  margin-right: 32px;
}
.contact-us-register {
  background-color: #305b3f;
}
.contact-us-burger-menu {
  display: none;
}
.contact-us-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-us-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.contact-us-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-us-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-us-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-us-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-us-nav1 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-us-nav21 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-us-nav31 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-us-nav41 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-us-nav51 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-us-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-us-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.contact-us-hero1 {
  height: 140px;
}
.contact-us-hero-heading {
  max-width: 800px;
  text-align: center;
}
.contact-us-text {
  font-family: "Cabin";
}
.contact-us-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.contact-us-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-us-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1700202199341-8718439c56d4?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDM5fHx3YXRlciUyMGh5YWNpbnRofGVufDB8fHx8MTcwODIyODQ2M3ww&ixlib=rb-4.0.3&w=1500");
}
.contact-us-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-container3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.contact-us-nav11 {
  margin-left: 0px;
}
.contact-us-nav22 {
  margin-left: var(--dl-space-space-unit);
}
.contact-us-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.contact-us-nav42 {
  margin-left: var(--dl-space-space-unit);
}
.contact-us-nav52 {
  margin-left: var(--dl-space-space-unit);
}
.contact-us-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-us-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.contact-us-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.contact-us-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .contact-us-hero1 {
    flex-direction: column;
  }
  .contact-us-hero-heading {
    text-align: center;
  }
  .contact-us-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .contact-us-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .contact-us-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-desktop-menu {
    display: none;
  }
  .contact-us-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-us-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-us-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-us-text15 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .contact-us-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact-us-mobile-menu1 {
    padding: 16px;
  }
  .contact-us-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-btn-group {
    flex-direction: column;
  }
  .contact-us-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .contact-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-us-text15 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
